.form-spinner {
  -webkit-appearance: textfield;
  appearance: textfield;
}
.form-spinner::-webkit-outer-spin-button,
.form-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
