/* Kint */
.kint dt {
  padding-left: 28px !important;
  font-weight: normal !important;
}
.kint dfn {
  font-size: 15px !important;
  font-weight: bold !important;
}
.kint nav {
  margin: 0 6px 0 -22px !important;
}
.kint ul.kint-tabs {
  margin-left: 20px !important;
}
.kint ul,
.kint > dl dl {
  padding-left: 20px !important;
}
.kint footer {
  margin: 10px 0 0 3px;
  font-size: 12px !important;
}
