<div{{ attributes }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <div class="views__header">
      {{ header }}
    </div>
  {% endif %}

  {% if exposed %}
    <div class="views__filters">
      {{ exposed }}
    </div>
  {% endif %}

  {% if attachment_before %}
    <div class="views__attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div{{ content_attributes }}>
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="views__empty">
      {{ empty }}
    </div>
  {% endif %}

  {% set pager = pager|render %}
  {% if pager %}
    <div class="views__pager">
      {{ pager }}
    </div>
  {% endif %}

  {% if attachment_after %}
    <div class="views__attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}

  {% if more %}
    {{ more }}
  {% endif %}

  {% if footer %}
    <div class="views__footer">
      {{ footer }}
    </div>
  {% endif %}

  {% if feed_icons %}
    <div class="views__feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
