.page--with-toolbar {
  padding-top: 29px;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16;
  background: linear-gradient(to bottom, #171717 0%, #383838 100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  color: #EEE;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px !important;
  line-height: 1.3;
}
.toolbar .toolbar-tab {
  float: left;
}
.toolbar .home-toolbar-tab + .toolbar-tab ~ .toolbar-tab {
  display: none;
}
.toolbar .toolbar-item {
  display: none;
}
.toolbar .toolbar-menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #252525;
}
.toolbar .menu-item,
.local-tasks-toolbar-tab li {
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  list-style: none;
}
.toolbar .menu-item:before {
  display: none;
}
.toolbar .menu-item:hover {
  background-color: black;
}
.toolbar a,
.toolbar a:visited {
  display: block;
  padding: 6px 12px 7px 12px;
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}
.toolbar a:hover {
  text-decoration: none;
  color: inherit;
}
.toolbar .toolbar-icon-admin-toolbar-tools-help {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  background: url(/core/misc/logo/drupal-logo.svg) center center no-repeat;
  background-size: 40%;
  text-indent: -9999px !important;
}
@media (max-width: 900px) {
  .toolbar {
    position: absolute;
  }
}

/* Level 2+ */
.toolbar-menu .toolbar-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease 0.15s;

  position: absolute;
  width: 220px;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
}
.toolbar-menu .toolbar-menu .toolbar-menu {
  display: none;
}
html[lang="ru"] .toolbar-menu .toolbar-menu {
  width: 250px;
}
.toolbar-menu .menu-item:hover > .toolbar-menu {
  opacity: 1;
  visibility: visible;
  display: block;
}
.toolbar-menu .toolbar-menu .menu-item {
  position: relative;
  float: none;
  border: none;
  border-bottom: 1px solid #3A3A3A;
}
.toolbar-menu .toolbar-menu .menu-item:last-child {
  border-bottom: none;
}
.toolbar-menu .toolbar-menu .menu-item--expanded {
  background: #47474B;
}
.toolbar-menu .toolbar-menu .menu-item--expanded > a {
  padding-right: 28px;
}
.toolbar-menu .toolbar-menu .menu-item--expanded > a:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  text-decoration: none;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 4px;
  border-color: transparent transparent transparent white;
}
.toolbar-menu .toolbar-menu .menu-item:hover {
  background-color: black;
}

/* Level 3+ */
.toolbar-menu .toolbar-menu .toolbar-menu {
  top: 0;
  left: 100%;
}

/* Search tab */
#admin-toolbar-search-tab {
  float: right;
}
#admin-toolbar-search-tab .form-item {
  margin: 4px 4px 0 0 !important;
}
#admin-toolbar-search-tab label {
  display: none !important;
}
#admin-toolbar-search-tab .form-text {
  width: 200px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 1.3;
  border: none;
  border-radius: 0;
  background: #626262;
}

/* Local tasks */
.toolbar .local-tasks-toolbar-tab {
  float: right;
}
.local-tasks-toolbar-tab li::before {
  display: none;
}
